# Application
NODE_ENV=development
PORT=5000

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/portfolio_db?schema=public"

# JWT
JWT_SECRET=4dba8db4a4e21fea0271849e32e3a1aca3209c23510737eec99113346d072f41
JWT_EXPIRES_IN=24h
JWT_REFRESH_SECRET=5d9e2dcef6a167764f18fb7af20491d5feeb9992ebe90207e056afa227cb1f4b
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:3000

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
